@media only screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  form {
    width: 50%;
  }
  fieldset.name {
    flex-direction: row;
  }
  .firstName,
  .lastName {
    flex: 1;
  }
  fieldset.queryType {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
  }
  .queryType label {
    grid-column: 1/3;
    grid-row: 1;
  }
  #message {
    height: 100px !important;
  }
}
